@broken-white:  #eeeeee;
@crushed-black: #222222;
@accent:        #bb2211;

@content-width: 800px;

html {
    background-color: @broken-white;
    color:            @crushed-black;
}

body {
    margin: 0px;
}

.header-wide {
    background-image:    url("../images/header-background.png");
    background-position: center top;
    background-repeat:   repeat-x;
    margin:              36px 0px 0px 0px;
}

header {
    background-image: url("../images/header-road.png");
    color:            @accent;
    font-size:        42px;
    height:           261px;
    margin:           0px auto 0px auto;
    position:         relative;
    text-align:       center;
    text-transform:   uppercase;
    width:            @content-width;
    font-weight:      bold;

    .header-bwt {
        margin-top: -24px;
    }
}

navigation {
    border-bottom:  solid 2px @accent;
    display:        block;
    margin:         18px auto 12px auto;
    padding:        0px 0px 6px 0px;
    text-transform: uppercase;
    width:          @content-width;
    position:       relative;

    a {
        color:           @crushed-black;
        font-size:       30px;
        padding:         0px;
        text-decoration: none;
        margin:          0px 20px 0px 0px;
    }

    a.active {
        color: @accent;
    }

    .social-media-icons {
        position: absolute;
        right:    0px;
        bottom:   0px;

        a {
            margin: 0px 0px 0px 0px;
        }
    }
}

main {
    width:  @content-width;
    margin: 0px auto 0px auto;
}

h1 {
    margin: 24px 0px 24px 0px;
}

h2 {
    margin: 36px 0px 12px 0px;
}

.sponsors {
    text-align: center;
}

.media-partners {
    text-align: center;
}

.sponsor {
    width:   200px;
    display: inline-block;

    img {
        vertical-align: middle;
    }
}

.flyer {
    float:  right;
    margin: 0px 0px 24px 24px;
}

.clear {
    clear: both;
}

footer {
    font-size:  10px;
    margin:     60px auto 12px auto;
    text-align: center;
    width:      @content-width;
}

a {
    text-decoration: none;
    color:           @accent;
}

@import "skater.less";
@import "typography.less";
