
.predrift() {
    from {
        top:   130px;
        left:  400px;
        width: 100px;
    }

    to {
        top:   130px;
        left:  100px;
        width: 200px;
    }
}

@-webkit-keyframes predrift {
    .predrift;
}

@keyframes predrift {
    .predrift;
}
