<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style/main.css">
        <script type="text/JavaScript" src="/js/jquery-1.11.1.min.js"></script>
        <script type="text/JavaScript" src="/js/skater.js"></script>
        <title>$title$ - Burning Wheels Tour</title>
    </head>
    <body>
        <div class="header-wide">
            <header>
                Burning Wheels Tour
                <img class="predrift-from" id="skater"
                        src="/images/header-skater.png">
            </header>
        </div>
        <navigation>
            <a class="$activeClass("index")$" href="/index.html">
                Home
            </a>
            <a class="$activeClass("events")$" href="/events/index.html">
                Events
            </a>
            <a class="$activeClass("contact")$" href="/contact/index.html">
                Contact
            </a>

            <div class="social-media-icons">
                <a href="http://www.facebook.com/Burningwheelstour">
                    <img src="/images/social-media-icons/facebook.png">
                </a>
                <a href="http://www.youtube.com/user/burningwheelstour">
                    <img src="/images/social-media-icons/youtube.png">
                </a>
            </div>
        </navigation>
        <main>
            $body$
        </main>
        <footer>
            Website in <a href="http://jaspervdj.be/hakyll">Hakyll</a> by
            <a href="http://jaspervdj.be/">jaspervdj</a>.
        </footer>
    </body>
</html>
