<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style/main.css">
        <script type="text/JavaScript" src="/js/jquery-1.11.1.min.js"></script>
        <script type="text/JavaScript" src="/js/skater.js"></script>
        <title>$title$ - Burning Wheels Tour</title>
    </head>
    <body>
        <div class="header-wide">
            <header>
                Burning Wheels Tour
                <img class="predrift-from" id="skater"
                        src="/images/header-skater.png">
            </header>
        </div>
        <navigation>
            <a class="$activeClass("index.html")$" href="/index.html">
                Home
            </a>
            <a class="$activeClass("events.html")$" href="/events/index.html">
                Events
            </a>
            <a class="$activeClass("contact.html")$" href="/contact/index.html">
                Contact
            </a>
            <a class="$activeClass("archive.html")$" href="/archive/index.html">
                Archive
            </a>
        </navigation>
        <main>
            $body$
        </main>
    </body>
</html>
