<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style/main.css">
        <title>$title$</title>
    </head>
    <body>
        <header>
        </header>
        <navigation>
            <a href="/index.html">Home</a>
            <a href="/events/index.html">Events</a>
            <a href="/contact/index.html">Contact</a>
            <a href="/archive/index.html">Archive</a>
        </navigation>
        <main>
            $body$
        </main>
    </body>
</html>
